<%= f.fields_for :courses do |cc| %>
  <div class="col-sm-4">
    <div class="checkbox">
      <%= cc.check_box :is_selected %>
      <%= cc.hidden_field :content %>
      <%= cc.label :courses, cc.object.name %>
    </div>
  </div>
<% end %>