<% if check_me.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(check_me.errors.count, "error") %> prohibited this canvas_load from being saved:</h2>
    <ul>
    <% check_me.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>