<footer class="footer">
  <div class="container">
    <p>Built with love for <a href="http://www.instructure.com" target="_blank">Instructure</a> by <a href="http://www.atomicjolt.com" target="_blank">Atomic Jolt</a>.</p>
  </div>
</footer>